# These 3 are required if this is not a gradle project (but you want to import the project into eclipse)
# These are created by eclipse so that it can understand some configurations for this project(for example which is source directory )
#.classpath
#.project
#This one is needed by eclipse only when you have special configurations setup in eclipse for this project
#.settings/


# this is for mac
*.DS_Store
**/.DS_Store

.gradle/
bin/
build/
gen/
/.idea/misc.xml
/.idea/modules.xml
/.idea/vcs.xml
/.idea/Java-Best-Practices-Java8.iml
/.idea/workspace.xml
/.idea/encodings.xml
/.gitignore
/.idea/libraries/
.idea/libraries/Maven__junit_junit_4_13.xml
.idea/libraries/Maven__org_hamcrest_hamcrest_core_1_3.xml
src/main/
src/test/
target/
